{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Система мониторинга диабета{% endblock %}</title>

    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
    <link rel="shortcut icon" href="{% url 'favicon' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="page-wrapper">
        {% block layout %}{% endblock %}
    </div>

    {% block extra_js %}{% endblock %}
</body>

</html>
